<!-- <app-product-list></app-product-list> -->
<!-- <div class="container" role="main">
    <app-gallery></app-gallery>
    <div class="row">
        <button class="btn btn-primary" (click)="addNewPicture()">Add Picture</button>
        <button class="btn btn-danger" (click)="removeFirstPicture()">Remove Picture</button>
    </div>
</div> -->
<!-- <app-product-detail></app-product-detail> -->
<!-- <app-product-edit></app-product-edit> -->
<!-- <app-customer></app-customer> -->
<!-- <app-rxjs></app-rxjs> -->
<!-- <app-home></app-home> -->
<div>
    <app-nav></app-nav>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
<!-- <app-login></app-login> -->