<div class="card">
    <div class="card-body">
        <div class="'container-fluid">
            <div class="text-center">
                <img src="../../assets/images/h1.jpg"
                class="img-responsive center-block" 
                style="max-height:300px; 
                padding-bottom:50px"/>
            </div>
            <div class="text-center">
                <h3>Create Your Herbal Garden </h3>
            </div>
            <div class="text-center">
                <a href="https://www.dabur.com">Dabur Home Page</a>
            </div>
        </div>

    </div>
</div>
